<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>texturing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F9E60371C15A28400DABF75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F9E604D1C15A28500DABF75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F9E60581C15A28500DABF75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
